.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
.footer_wrap,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 700px) {
  .nav {
    &-container {
      text-align: left;
    }
    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0 3rem;
  border-top: .5px solid $grey-2;

  .name {
    color: #999;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .email {
    color: #999;
    font-size: 16px;
    font-weight: 600;
  }
  
  .email:hover {
    opacity: 0.7;
  }

  .footer_row{
    margin-top: 30px;
  }

  .icon {
    width: 25px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    svg {
      width: 25px;
      fill: #999;
    }
  }
  
  .icon:hover {
    opacity: 0.7;
  }


  .copyright {
    color: $default-color;
    float: right;
    font-size: .8rem;
    margin-top: 10px;
  }
}
