.no_posts_wrap {
    padding-top: 4rem;
}

.no_posts_image {
    display:block;
    margin:auto;
    height: 300px;
    @media (max-width: 600px) {
        height: 200px;
    }
}

.no_posts_description {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 20px;
    color: #444;
    font-family: 'Noto Sans KR', Arial, sans-serif;
    text-align: center;
}